body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjPvloNQgaM0frElTuwTwt-dLsj8HdZMVsb1odzZp0RfnlBdxBEjG2pJKemmGZMsZ9_0k&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
}

nav a {
    color: #000;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

nav img {
    height: 30px;
    margin-left: 10px;
}

/* 用于占位的空div，防止header覆盖页面内容 */
.placeholder {
    height: 70px;
    width: 100%;
    display: block;
    background-color: #f2f2f2;
}

section {
    padding: 50px;
}

h1, h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    background: linear-gradient(to right, #ff0066, rgb(6, 140, 217), #ff9933);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.description {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #f5f5f5;
    color: #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer-nav {
    display: flex;
    margin-bottom: 20px;
}

.footer-nav a {
    font-size: 14px;
    margin-right: 20px;
    text-decoration: none;
    color: #999;
    transition: all 0.2s ease-in-out;
}

.footer-nav a:hover {
    color: #666;
    text-decoration: underline;
}

.footer-text {
    font-size: 12px;
}

pre {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 15px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', monospace;
}

.bigtitle {
    padding: 50px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #000000;
    font-family: 'Helvetica Neue', sans-serif;
    background-size: 200% 100%;
    background-position: left bottom;
    animation: slide-in 1s ease-out;
  }
  
  
@keyframes slide-in {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}

header img {
    padding-bottom: 5px;
}
code {
    font-family: 'Courier New', monospace;
}

table {
    border-collapse: collapse;
    width: 88%;
    background-color: #ffffff;
}
  
td, th {
    text-align: center;
    padding: 10px;
    border: 1.5px solid rgba(204, 204, 204, 0.758);
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigtitle {
    padding: 50px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #000000;
    font-family: 'Helvetica Neue', sans-serif;
    background-size: 200% 100%;
    background-position: left bottom;
    animation: slide-in 1s ease-out;
  }
  
  
@keyframes slide-in {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}

header img {
    padding-bottom: 5px;
}